<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic </title>
    <link rel='stylesheet' href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="menu-wrapper">
        <div class="sidebar-header">
            <div class="sideBar">
                <div><img src='images/Health-Sign-blue-icon.png' /></div>
                <ul>
                    <li class="selected"><i class="fas fa-home"></i><label>Dashboard</label></li>
                    <li><i class="fas fa-user"></i><label>Profile</label></li>
                    <li><i class="fas fa-user-md"></i><label>Doctor</label></li>
                    <li><i class="fas fa-phone-alt"></i><label>Contact</label></li>
                    <li><i class="fas fa-user"></i><label>About us</label></li>
                    <li><i class="fas fa-cog"></i><label>Setting</label></li>
                </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
            </div>
            <div class="backdrop"></div>
            <div class="content">
                <header>
                    <div class="menu-button" id='desktop'>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="menu-button" id='mobile'>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </header>
                <div class="content-data"> 
                    
                    <div class="container">
                        
                        <main class="grid">
                            <article>
                               <div class="text vitals">
                                <i class="fas fa-burn fa-3x"></i>
                                <h4>Blood Pressure</h4>
                                <h2>100/70</h2>
                                <span><i class="fas fa-arrow-up"></i> 10% higher than last month</span>
                               </div>
                            </article>
                            <article>
                                <div class="text">
                                    <br>
                                    <h3>card 1</h3><br>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe odio fugiat natus!</p><br>
                                    <button>button-2</button>
                                </div>
                            </article>
                            <article>
                                <div class="text">
                                    <br>
                                    <h3>card 1</h3><br>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe odio fugiat natus!</p><br>
                                    <button>button-3</button>
                                </div>
                            </article>
                            <article>
                                <div class="text">
                                    <br>
                                    <h3>card 1</h3><br>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe odio fugiat natus!</p><br>
                                    <button>button-3</button>
                                </div>
                            </article>
                            <article>
                                <div class="text">
                                    <br>
                                    <h3>card 1</h3><br>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe odio fugiat natus!</p><br>
                                    <button>button-3</button>
                                </div>
                            </article>
                            <article>
                                <div class="text">
                                    <br>
                                    <h3>card 1</h3><br>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe odio fugiat natus!</p><br>
                                    <button>button-3</button>
                                </div>
                            </article>
                        </main>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>